{
  "votes": [ 
    {
      "id": "1",
      "name": "hackathon",
      "type" : 0,
      "result" : "{'true' : 0, 'false': '1'}"
     },
     {
      "id": "office",
      "name": "office",
      "type" : 0,
      "result" : "{'true' : 0, 'false': '1'}"
     }
  ]
}
